<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Airport details</title>
</head>

  <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px 0;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #007BFF;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        h2 {
            color: #333;
        }

</style>
<body>
  <h1>Airports Details</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Location</th>
        <th>Code</th>
      </tr>
    </thead>
    <tbody>
      <% Airports.forEach((e)=>{%>
        <tr>
          <td><%=e.name%></td>
          <td><%=e.location%></td>
          <td><%=e.country%></td>
          <td><%=e.code%></td>
        </tr>
      <%})%>

    </tbody>
  </table>
  
</body>
</html>