<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MongoDB Data Display</title>
</head>
<body>
  <h1>MongoDB Data</h1>

  <ul>
    <% data.forEach(function(item) { %>
      <li>Name: <%= item.name %>, Age: <%= item.age %></li>
    <% }); %>
  </ul>
</body>
</html>
